.info-card {
	& > .grid > .row > div {
		&:nth-child(1) .block {
			background: $cl-yellow-1;
		}

		&:nth-child(2) .block {
			background: $cl-green-1;
		}

		&:nth-child(3) .block {
			background: $cl-red-2;
		}

		&:nth-child(4) .block {
			background: $cl-blue-6;
		}
	}

	.block {
		padding: 20px;
		border-radius: 10px;
		color: #fff;

		.content {
			p:first-child {
				font-size: $fs-title;
				font-weight: 700;
			}
		}

		.block_icon {
			display: flex;
			align-items: center;
			justify-content: center;

			i {
				font-size: $fs-big;
			}
		}
	}
}

.info-table {
	margin-top: 24px;
	.table {
		.col {
			margin: 0;
		}
		background: $cl-white-2;
		padding: 20px;
		border-radius: 10px;

		.link {
			margin-bottom: 20px;

			h3 {
				font-weight: 700;
				font-size: $fs-sub-title;
			}

			.button {
				display: flex;
				justify-content: flex-end;

				a {
					padding: 5px 10px;
					background: $cl-blue-3;
					border-radius: 15px;
					color: $cl-white-2;

					i {
						font-size: $fs-small-text;
					}
				}
			}
		}

		.heading {
			padding: 5px 0;
			font-weight: 600;
			border-top: 1px solid $cl-grey;
			border-bottom: 1px solid $cl-grey;
			text-align: left;
			.date,
			.view {
				text-align: center;
			}
		}

		.item {
			padding: 5px 0;
			color: $cl-black;
			text-align: left;

			&:hover {
				background: $cl-grey;
			}
			.name {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			.view,
			.date {
				text-align: center;
			}
		}
		.date {
			text-align: center;
		}
		.price {
			text-align: right;
		}
	}
}
