#admin-page {
	nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 250px;
		height: 100%;
		background: $cl-blue-3;

		.logo {
			margin: 15px;

			h1 {
				color: $cl-white-1;
				text-transform: capitalize;
				font-family: "Lobster", cursive;
				text-align: center;
				padding: 10px;
				letter-spacing: 2px;
				font-size: $fs-main-title;
			}
		}

		.link-list {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: calc(100% - 140px);
			padding: 10px 0;

			.links {
				list-style: none;

				a,
				span {
					color: $cl-white-1;
					display: block;
					padding: 10px 15px 10px 40px;
					border-radius: 20px 0 0 20px;
					margin-left: 15px;
					text-transform: capitalize;
					font-weight: 600;
					letter-spacing: 1px;
					position: relative;
					cursor: pointer;
					font-size: $fs-text;

					i:first-child {
						position: absolute;
						left: 15px;
						top: 50%;
						transform: translateY(-50%);
					}

					i.arrow {
						font-size: 12px;
						position: absolute;
						right: 15px;
						top: 50%;
						transform: translateY(-50%) rotate(0);
						transition: 0.5s ease-in-out;

						&.active {
							transform: translateY(-50%) rotate(-180deg);
						}
					}

					&:hover {
						background: $cl-white-1;
						color: $cl-blue-3;
					}
				}

				.sub-links {
					list-style: none;
					overflow: hidden;
					height: 0;
					transition: 0.5s ease-in-out;

					a {
						font-weight: 500;
						margin-left: 25px;
						letter-spacing: 0px;
						text-transform: capitalize;
					}
				}

				li.active {
					span {
						background: $cl-white-1;
						color: $cl-blue-3;
					}
				}
			}
		}

		.copyright {
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;

			p {
				text-align: center;
			}
		}
	}

	main {
		margin-left: 250px;
		padding: 50px 30px;
		background: $cl-white-1;
		min-height: 100vh;
	}
}
