h2 {
	text-transform: uppercase;
	font-size: $fs-sub-title;
	font-weight: 700;
	margin-bottom: 20px;
}
.alert {
	position: fixed;
	top: 20px;
	right: 30px;
	animation: hide_notify 3s forwards;

	p {
		color: $cl-white-1;
		padding: 10px 20px;
		border-radius: 5px;

		&.success {
			background: $cl-green-1;
		}

		&.error {
			background: $cl-red;
		}
	}
}
.table {
	padding: 24px 24px 36px 24px;
	background: $cl-white-2;
	border-radius: 12px;

	.search-from {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		position: relative;
		margin-bottom: 24px;

		input {
			padding: 12px 54px 12px 12px;
			border: 1px solid $cl-grey;
			border-radius: 5px;
			outline: none;
			width: 320px;

			&:focus {
				border: 1px solid $cl-blue-3;
			}
		}
		button {
			position: absolute;
			top: 0;
			right: 0;
			padding: 12px;
			font-size: $fs-sub-title;
			background: transparent;
			height: 100%;
			border: none;
			cursor: pointer;
			display: flex;
			align-items: center;
		}
	}
	.heading {
		text-transform: uppercase;
		font-weight: 700;
		font-size: $fs-detail;
		padding-bottom: 20px;
		border-bottom: 1px solid $cl-grey;
		text-align: center;
		align-items: center;
		color: $cl-blue-5;
	}

	.item {
		padding: 5px 0;
		border-bottom: 1px solid $cl-grey;
		align-items: center;
		text-align: center;
		.news-name {
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}

		.action {
			display: flex;
			justify-content: space-around;

			.button {
				display: block;
				width: 30px;
				height: 30px;
				padding: 5px;
				border-radius: 5px;

				&.view {
					color: $cl-blue-6;

					&:hover {
						background: $cl-blue-6;
					}
				}

				&.edit {
					color: $cl-green-1;

					&:hover {
						background: $cl-green-1;
					}
				}

				&.delete {
					color: $cl-red-2;

					&:hover {
						background: $cl-red-2;
					}
				}

				&:hover {
					color: $cl-white-2;
				}
			}
		}
		.imgBx {
			width: 100px;
			height: 100px;
			margin: 0 auto;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

.pagination {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	justify-content: flex-end;

	li {
		width: 30px;
		height: 30px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 10px;
		border-radius: 50%;
		cursor: pointer;
		border: 1px solid $cl-blue-6;
		color: $cl-black;

		&:last-child {
			margin-right: 0;
		}

		&:hover,
		&.active {
			background: $cl-blue-6;
			color: #fff;
		}
	}
}

// Trang thêm mới bài viếT

.news-title {
	font-weight: 700;
	color: $cl-grey-2;
	padding: 12px 0;
}
.news-input {
	height: auto;
	width: 100%;
	padding: 8px 16px;
	font-size: $fs-text;
	font-weight: 600;
	color: $cl-black;
	border-radius: 5px;
	border: 1px solid $cl-grey;
	transition: 0.2s ease-in-out;
	letter-spacing: 1px;
	&:focus {
		outline: none;
		border: 1px solid $cl-blue-3;
		box-shadow: 0 0 1px $cl-blue-5;
	}
}

.news-img {
	.news-thumb {
		height: 250px;
		border-radius: 10px;
		border: 1px solid $cl-grey;
		padding: 12px;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	input {
		margin-top: 12px;
	}
}
.news-create {
	.news-name {
	}
	.news-category {
		select {
			width: 100%;
			height: auto;
			border: 1px solid $cl-grey;
		}
	}
	.news-description {
		.news-input {
			height: 185px;
			resize: none;
		}
	}
}
.button-submit {
	padding: 12px 24px;
	background: $cl-green-1;
	color: $cl-white-2;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-weight: 700;
	transition: 0.2s ease-in-out;
	width: max-content;
	margin: 12px auto;
	display: block;

	&:hover {
		background: $cl-green-2;
	}
}

#edit_modal {
	position: fixed;
	z-index: 9999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 480px;
	height: 240px;
	background: #fff;
	display: none;
	border-radius: 10px;
	padding: 12px;
	box-shadow: 0 0 10px $cl-grey;

	.modal-cate__close {
		text-align: right;

		button {
			background: none;
			border: 0;
			padding: 6px;
			cursor: pointer;
			outline: none;

			&:hover {
				opacity: 0.7;
			}

			i {
				font-size: 22px;
				color: $cl-red-2;
			}
		}
	}
	.modal-cate__content {
		margin: 6px 0;
		border: 1px solid $cl-grey;
		padding: 12px;
		border-radius: 5px;

		.modal-cate__ID {
			label {
				display: flex;
				align-items: center;

				p {
					padding: 8px;
					font-size: $fs-sub-title;
					font-weight: 700;
					width: 35%;
				}
				input {
					background: inherit;
					border: none;
					width: 65%;
					margin: 0 12px;
					color: $cl-black;
					font-weight: 600;
				}
			}
		}

		.modal-cate__name {
			label {
				display: flex;
				align-items: center;

				p {
					padding: 8px;
					font-size: $fs-sub-title;
					font-weight: 700;
					width: 35%;
				}
				input {
					background: inherit;
					border: 1px solid $cl-grey;
					width: 65%;
					padding: 6px;
					font-size: $fs-sub-title;
					margin: 0 12px;
					color: $cl-blue-5;
					border-radius: 3px;
					outline: none;
				}
			}
		}
	}

	.modal-cate__submit {
		.button-submit {
			margin: 12px auto;
		}
	}

	& + .overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: rgba(0, 0, 0, 0.5);
		z-index: 999;
		display: none;
	}

	&.show,
	&.show + .overlay {
		display: block;
	}
}

.category-add {
	margin-bottom: 24px;
	padding: 12px;

	input,
	button {
		padding: 12px;
		border: 1px solid $cl-grey;
		transition: 0.3s ease-in-out;
		border-radius: 10px;
		font-size: $fs-text;
		letter-spacing: 1.3px;
	}
	input {
		width: 300px;
		outline: none;
		color: $cl-grey-2;
		&:focus {
			border: 1px solid $cl-blue-1;
			color: $cl-blue-3;
			box-shadow: 0 0 1px $cl-blue-5;
		}
		&:focus + button {
			color: $cl-white-2;
			background: $cl-blue-3;
		}
	}
	button {
		background: $cl-grey;
		font-weight: 500;
		cursor: pointer;

		&:hover {
			background: $cl-blue-3;
			border: 1px solid $cl-blue-1;
			color: $cl-white-2;
		}
	}
}
// End
