h2 {
	text-transform: uppercase;
	font-size: $fs-sub-title;
	font-weight: 700;
	margin-bottom: 20px;
}
.alert {
	display: flex;
	justify-content: flex-end;
	p {
		width: max-content;
		color: $cl-white-1;
		padding: 10px 20px;
		border-radius: 5px;
		margin-bottom: 10px;

		&.success {
			background: $cl-green-1;
		}

		&.error {
			background: $cl-red;
		}
	}
}
.news {
	padding: 20px;
	background: $cl-white-2;

	.heading {
		text-transform: uppercase;
		font-weight: 600;
		font-size: $fs-detail;
		padding-bottom: 20px;
		border-bottom: 1px solid $cl-grey;
		text-align: center;
	}

	.item {
		padding: 5px 0;
		border-bottom: 1px solid $cl-grey;
		align-items: center;
		text-align: center;
		.news-name {
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}

		.action {
			display: flex;
			justify-content: space-around;

			.button {
				display: block;
				width: 30px;
				height: 30px;
				padding: 5px;
				border-radius: 5px;

				&.edit {
					color: #2ecc71;
				}

				&.delete {
					color: #e74c3c;
				}
			}
		}
		.imgBx {
			width: 100px;
			height: 100px;
			margin: 0 auto;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
}

// Trang thêm mới bài viếT

.news-title {
	font-weight: 700;
	color: $cl-grey-2;
	padding: 12px 0;
}
.news-input {
	height: auto;
	width: 100%;
	padding: 8px 16px;
	font-size: $fs-text;
	font-weight: 600;
	color: $cl-black;
	border-radius: 5px;
	border: 1px solid $cl-grey;
	transition: 0.2s ease-in-out;
	letter-spacing: 1px;
	&:focus {
		outline: none;
	}
}

.news-img {
	.news-thumb {
		height: 250px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	input {
		margin-top: 12px;
	}
}
.news-create {
	.news-name {
	}
	.news-category {
		select {
			width: 100%;
			height: auto;
			border: 1px solid $cl-grey;
		}
	}
	.news-description {
		.news-input {
			height: 185px;
			resize: none;
		}
	}
}
.button-submit {
	padding: 12px 24px;
	background: $cl-green-1;
	color: $cl-white-2;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-weight: 700;
	transition: 0.2s ease-in-out;
	width: max-content;
	margin: 12px auto;
	display: block;

	&:hover {
		background: $cl-green-2;
	}
}

// End
