.order {
	.body {
		align-items: center;
		border-bottom: 1px solid $cl-grey;
		font-size: $fs-detail;
		line-height: 1.8;
		text-decoration: none;
		color: unset;

		&:hover {
			background: $cl-white-1;
		}
		.col {
			text-align: center;
		}
		.status {
			span {
				background: $cl-green-2;
				border-radius: 6px;
				color: #fff;
				transition: 0.3s ease-in-out;
				width: 100%;
				display: block;
				text-align: center;
				padding: 3px 0;
				cursor: default;

				&:hover {
					background: $cl-green-1;
				}
				&[payment="false"] {
					background: $cl-red-2;
					cursor: pointer;

					&:hover {
						background: $cl-red;
					}
				}
			}
		}

		.code {
			a {
				color: $cl-orange-3;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.amount {
			span {
				font-weight: bold;
				border-bottom: 1px dashed $cl-black;
				display: block;
				width: max-content;
				margin: 0 auto 5px;
			}
		}
	}
}
.title-order-detail {
	span:last-child {
		color: $cl-orange-3;
	}
}
.order-detail {
	.title {
		margin-bottom: 12px;
		padding: 12px 24px;
	}
	.info-flight,
	.info-contact {
		padding: 0;
		margin: 0;
		background: $cl-white-2;
		border-radius: 10px;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			border-right: 2px dashed $cl-grey;
			top: 7px;
			bottom: 7px;
			right: -1px;
		}
		.title {
			background: linear-gradient(80deg, $cl-blue-3, transparent);
			color: $cl-white-2;
			border-top-left-radius: 6px;

			.from-to {
				font-weight: 700;
				padding: 12px;
			}
		}
		.class {
			padding: 12px 24px;
			margin-bottom: 24px;
			i {
				transform: rotate(-90deg);
				color: $cl-blue-3;
			}
			span {
				&:nth-child(2) {
					font-size: $fs-sub-title;
					color: $cl-blue-3;
					font-weight: 700;
				}
				&:nth-child(3) {
					border-left: 1px solid $cl-grey;
					padding: 0 6px;
					border-right: 1px solid $cl-grey;
				}
			}
		}
		.ticket-wrap {
			padding: 12px 24px;
			margin-bottom: 24px;
			h4 {
				padding-bottom: 12px;
				margin-bottom: 24px;
				font-weight: 700;
				text-transform: uppercase;
				color: $cl-orange-3;
				font-size: $fs-sub-title;
				border-bottom: 1px solid $cl-grey;
			}
		}
		.flight-wrap,
		.depart-destination-arrive {
			display: flex;
			align-items: center;
			margin-bottom: 24px;

			.base-from-to {
				h6 {
					font-size: $fs-title;
					color: $cl-black;
				}
				p {
					color: $cl-grey-2;
				}
			}
			i {
				margin: 0 50px;
				text-align: center;
				font-size: $fs-small-title;
				color: $cl-grey-2;
			}
		}
		.depart-destination-arrive {
			div {
				p {
					color: $cl-grey-2;
				}
				span {
					font-weight: 700;
					font-size: $fs-sub-title;
					color: $cl-black;
					&:nth-child(2) {
						padding-right: 12px;
					}

					&:last-child {
						padding-left: 12px;
						border-left: 1px solid $cl-grey;
					}
				}
			}
		}
	}
	.info-user {
		padding: 0;
		background: $cl-white-2;
		border-radius: 10px;
		margin: 0;
		.title {
			background: linear-gradient(-80deg, $cl-blue-3, transparent);
			border-top-right-radius: 6px;

			a {
				color: $cl-white-2;
				display: block;
				text-align: right;
				padding: 12px;

				&:hover {
					text-decoration: underline;
				}
			}
		}
		.code {
			margin-bottom: 24px;
			padding: 0 24px;

			span {
				color: $cl-grey-2;
			}

			.order-code {
				span:last-child {
					color: $cl-orange-3;
				}
			}
		}
		.traveller-info {
			padding: 0 24px;
			margin-bottom: 24px;

			.col {
				margin: 0;
			}

			h6 {
				font-size: $fs-sub-title;
				font-weight: 700;
				color: $cl-black;
				margin-bottom: 12px;
			}
			.heading {
				color: $cl-grey-2;
				font-weight: 700;
				margin-bottom: 12px;

				.col:last-of-type {
					text-align: center;
				}
			}
		}
	}

	// Items sử dụng chung
	.items {
		overflow-y: auto;
		overflow-x: hidden;
		height: 150px;

		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px $cl-grey;
			background-color: $cl-white-1;
		}

		&::-webkit-scrollbar {
			width: 6px;
			background-color: $cl-white-1;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $cl-grey-2;
		}

		.body {
			padding: 6px 0;
			border-top: 1px dashed $cl-white-1;

			&:nth-of-type(even) {
				background: $cl-white-3;
			}
			.col {
				font-size: $fs-detail;
				line-height: 1.6;
				&:last-child {
					text-align: center;
				}
			}
		}
	}

	.flight-detail {
		background: $cl-white-2;
		margin-top: 24px;
		border-radius: 10px;

		.flight-detail-wrap {
			padding: 0px 24px;

			.row {
				text-align: center;
			}
			h6 {
				font-size: 18px;
				font-weight: 700;
				color: #333;
				margin-bottom: 12px;
			}

			.heading {
				border-bottom: 1px solid $cl-grey;
				background: $cl-white-3;
				font-weight: 700;
			}
			.items {
				height: unset;
				overflow: hidden;

				.body {
					font-size: unset;

					&:nth-of-type(even) {
						background: unset;
					}
				}
			}
		}
	}

	.info-contact,
	.total-order {
		margin: 24px 0;
		background: $cl-white-2;
		padding: 12px 24px;
		border-radius: 10px;

		h6 {
			font-size: $fs-sub-title;
			font-weight: 700;
			color: $cl-black;
			margin-bottom: 12px;
		}
		p {
			font-size: $fs-detail;
			&:first-child {
				font-weight: 700;
				text-transform: uppercase;
				color: $cl-grey-2;
			}
			&:last-child {
				border-bottom: 1px solid $cl-grey;
				padding-bottom: 12px;
			}
		}
	}
	.total-order {
		.col {
			margin: 0;
		}
		.heading {
			color: $cl-grey-2;
			font-weight: 700;
			margin-bottom: 12px;

			.col:last-child {
				text-align: center;
			}
		}

		.footer {
			margin-top: 24px;
			padding: 12px 0;
			border-top: 1px solid $cl-grey;
			.bill {
				font-size: $fs-sub-title;
				color: $cl-black;
				font-weight: 700;
			}
			.total-price {
				text-align: right;
				span {
					font-size: $fs-sub-title;
					font-weight: 700;
					color: $cl-orange-3;

					&:last-child {
						color: $cl-grey-2;
					}
				}
			}
		}
	}
}
