form {
	.form-partner {
		margin-bottom: 12px;

		label {
			font-weight: 600;
			color: #777;
			position: relative;
			padding-right: 12px;

			&::after {
				position: absolute;
				content: "*";
				top: 0;
				right: 0;
				color: $cl-red;
				font-size: 12px;
			}
		}

		#partner-name {
			display: block;
			width: 100%;
			padding: 8px;
			border-radius: 6px;
			margin-top: 12px;
			outline: none;
			border: 1px solid $cl-grey;
		}

		.partner-thumb {
			width: 150px;
			height: 150px;
			border-radius: 10px;
			border: 1px solid $cl-grey;
			padding: 12px;
			margin: 12px auto;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		#partner-image {
			margin-top: 12px;
		}
	}
	.button-submit {
		padding: 8px 12px;
	}
}

.partner {
	.list-partner {
		border-left: 1px solid $cl-grey;
	}
	.heading {
		margin: 0 3px;
	}
}
