/*==================== Button back to top ====================*/
.to-top {
	position: fixed;
	right: 15px;
	bottom: 50px;
	width: 50px;
	height: 50px;
	background: $cl-black;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: $fs-title;
	z-index: 99;
	color: $cl-white-2;
	border: none;
	outline: none;
	opacity: 0;
	pointer-events: none;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	transform: translateY(20px);

	&:hover {
		background: $cl-blue-3;
	}

	&.show {
		opacity: 1;
		pointer-events: auto;
		transform: translateY(0);
	}
}
/*==================== End Button back to top ====================*/

/*==================== Loader ====================*/
.loader-container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	z-index: 9999;

	&.hide {
		display: none;
	}

	.loader {
		position: relative;
		width: 120px;
		height: 120px;

		span {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: rotate(calc(var(--i) * 18deg));

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 15px;
				height: 15px;
				background: $cl-blue-3;
				border-radius: 50%;
				animation: loading 2s linear infinite;
				animation-delay: calc(0.1s * var(--i));
				transform: scale(0);
			}
		}

		.plane {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			animation: loading_plane 2s linear infinite -1s;

			&::before {
				content: "\f072";
				font-family: "Font Awesome 5 Free";
				position: absolute;
				top: 70px;
				left: 80px;
				color: $cl-blue-3;
				font-size: 60px;
				font-weight: 900;
				transform: rotate(135deg);
			}
		}
	}
}
/*==================== End Loader ====================*/

/*==================== Form Search ====================*/
.search-form {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	margin-bottom: 24px;

	input {
		padding: 12px 54px 12px 12px;
		border: 1px solid $cl-grey;
		border-radius: 5px;
		outline: none;
		width: 320px;

		&:focus {
			border: 1px solid $cl-blue-3;
		}
	}
	button {
		position: absolute;
		top: 0;
		right: 0;
		padding: 12px;
		font-size: $fs-sub-title;
		background: transparent;
		height: 100%;
		border: none;
		cursor: pointer;
		display: flex;
		align-items: center;
		color: $cl-blue-3;
	}
}
/*==================== End Form Search ====================*/

/*==================== Form Them moi ====================*/
.form-add {
	margin-bottom: 24px;
	padding: 12px;

	input,
	button {
		padding: 12px;
		border: 1px solid $cl-grey;
		transition: 0.3s ease-in-out;
		border-radius: 10px;
		font-size: $fs-text;
		letter-spacing: 1.3px;
	}
	input {
		width: 300px;
		outline: none;
		color: $cl-grey-2;
		&:focus {
			border: 1px solid $cl-blue-1;
			color: $cl-blue-3;
			box-shadow: 0 0 1px $cl-blue-5;
		}
	}
	button {
		background: $cl-green-2;
		font-weight: 500;
		cursor: pointer;
		color: $cl-white-2;

		&:hover {
			background: $cl-green-1;
			border: 1px solid $cl-blue-1;
			color: $cl-white-2;
		}
	}
}

/*==================== End Form Them moi ====================*/

/*==================== Button Submit ====================*/
.button-submit {
	padding: 12px 24px !important;
	background: $cl-green-1;
	color: $cl-white-2;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-weight: 700;
	transition: 0.2s ease-in-out;
	width: max-content;
	margin: 12px auto;
	display: block;

	&:hover {
		background: $cl-green-2;
	}
}

/*==================== End Button Submit ====================*/

/*==================== Xem thêm ====================*/
.view-more {
	text-align: center;
	margin: 12px 0;
	button {
		padding: 8px 24px;
		background: transparent;
		cursor: pointer;
		font-weight: 700;
		color: $cl-blue-3;
		transition: 0.2s ease-in-out;
		border: 2px solid $cl-blue-3;
		border-radius: 6px;

		&:hover {
			background-image: linear-gradient(to left, #034166, #06527f, #17699a);
			color: $cl-white-2;
		}
	}
}
/*==================== End Xem thêm ====================*/

/*==================== Input, button chọn image ====================*/
.button-img {
	padding: 8px 4px;
	outline: none;
	border: none;
	background: $cl-blue-5;
	color: $cl-white-2;
	border-radius: 4px;
	cursor: pointer;
}

.input-img {
	padding: 8px;
	font-size: $fs-small-text;
	font-weight: 600;
	color: $cl-black;
	border-radius: 5px;
	border: 1px solid $cl-grey;
}

/*==================== End Input, button chọn image ====================*/

/*==================== Hotline, Zalo, Mail ====================*/

/* VỊ TRÍ NÚT */
#phone {
	bottom: 0;
}
#zalo {
	bottom: 70px;
}
#facebook {
	bottom: 140px;
}
#mail {
	bottom: 210px;
}
#messenger {
	bottom: 280px;
}
@media (max-width: 480px) {
	#phone,
	#zalo,
	#facebook,
	#mail,
	#messenger {
		bottom: 45px;
	}
	#phone {
		left: 0;
	}
	#zalo {
		left: 70px;
	}
	#facebook {
		left: 140px;
	}
	#mail {
		left: 210px;
	}
	#messenger {
		left: 280px;
	}
}
/* CSS MÀU */
:root {
	--phone: rgb(210, 19, 14);
	--phoneopa: rgb(210, 19, 14, 0.5);
	--facebook: rgb(59, 89, 152);
	--facebookopa: rgb(59, 89, 152, 0.5);
	--mail: rgb(223, 75, 56);
	--mailopa: rgb(223, 75, 56, 0.5);
	--zalo: rgb(2, 143, 227);
	--zaloopa: rgb(2, 143, 227, 0.5);
	--messenger: rgb(2, 143, 227);
	--messengeropa: rgb(2, 143, 227, 0.5);
}
#phone a {
	background: var(--phone);
	border: 2px #fff solid;
}
#phone svg path {
	fill: #fff;
}
#phone .alo-circle-fill {
	background-color: var(--phoneopa);
}
#phone .alo-circle {
	border-color: var(--phone);
}

#phone:hover a {
	background: rgb(255, 87, 34);
}
#phone:hover svg path {
	fill: #fff;
}
#phone:hover .alo-circle-fill {
	background-color: rgba(255, 87, 34, 0.5);
}
#phone:hover .alo-circle {
	border-color: rgb(255, 87, 34);
}

#facebook a {
	background: var(--facebook);
	border: 2px #fff solid;
}
#facebook svg path {
	fill: rgb(255, 255, 255);
}
#facebook .alo-circle-fill {
	background-color: var(--facebookopa);
}
#facebook .alo-circle {
	border-color: var(--facebook);
}

#facebook:hover a {
	background: rgb(255, 87, 34);
}
#facebook:hover svg path {
	fill: #fff;
}
#facebook:hover .alo-circle-fill {
	background-color: rgba(255, 87, 34, 0.5);
}
#facebook:hover .alo-circle {
	border-color: rgb(255, 87, 34);
}

#mail a {
	background: var(--mail);
	border: 2px #fff solid;
}
#mail svg path {
	fill: rgb(255, 255, 255);
}
#mail .alo-circle-fill {
	background-color: var(--mailopa);
}
#mail .alo-circle {
	border-color: var(--mail);
}

#mail:hover a {
	background: rgb(255, 87, 34);
}
#mail:hover svg path {
	fill: #fff;
}
#mail:hover .alo-circle-fill {
	background-color: rgba(255, 87, 34, 0.5);
}
#mail:hover .alo-circle {
	border-color: rgb(255, 87, 34);
}

#zalo svg {
	background: #fff;
	padding: 1px;
}
#zalo svg path {
	fill: var(--zalo);
}
#zalo .alo-circle-fill {
	background-color: var(--zaloopa);
}
#zalo .alo-circle {
	border-color: var(--zalo);
}

#zalo:hover svg {
	background: #fff;
}
#zalo:hover svg path {
	fill: rgb(255, 87, 34);
}
#zalo:hover .alo-circle-fill {
	background-color: rgba(255, 87, 34, 0.5);
}
#zalo:hover .alo-circle {
	border-color: rgb(255, 87, 34);
}

#messenger svg {
	background: #fff;
	padding: 1px;
}
#messenger svg path:first-child {
	fill: var(--messenger);
}
#messenger .alo-circle-fill {
	background-color: var(--messengeropa);
}
#messenger .alo-circle {
	border-color: var(--messenger);
}

#messenger:hover svg {
	background: #fff;
}
#messenger:hover svg path:first-child {
	fill: rgb(255, 87, 34);
}
#messenger:hover .alo-circle-fill {
	background-color: rgba(255, 87, 34, 0.5);
}
#messenger:hover .alo-circle {
	border-color: rgb(255, 87, 34);
}

/* CSS RIÊNG */
.support-online.type-01 a {
	display: block;
}
.support-online.type-02 a {
	display: flex;
	border-radius: 100%;
	align-items: center;
	justify-content: center;
}

.support-online.type-01 svg {
	width: 40px;
	height: 40px;
	border-radius: 100%;
}
.support-online.type-02 svg {
	width: 25px;
	height: 25px;
}
/* CSS CHUNG */
.support-online {
	position: fixed;
	z-index: 9;
	left: 10px;
}
.support-online a {
	position: relative;
	text-align: left;
	margin: 10px;
	width: 40px;
	height: 40px;
}
.support-online svg {
	text-align: center;
	line-height: 1.9;
	position: relative;
	z-index: 9;
	animation: 1s ease-in-out 0s normal none infinite running Icon-running;
}
.alo-circle-fill {
	width: 60px;
	height: 60px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border: 2px solid transparent;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	opacity: 0.75;
}
.alo-circle {
	width: 50px;
	height: 50px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	background-color: transparent;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border: 2px solid rgba(30, 30, 30, 0.4);
	opacity: 0.5;
}

.zoomIn {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
}
.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
}
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

/* ANIMATE */
@-moz-keyframes Grow {
	0% {
		transform: scale(0.1);
		-ms-transform: scale(0.1);
		-webkit-transform: scale(0.1);
		opacity: 0;
		filter: alpha(opacity=0);
	}
	50% {
		opacity: 1;
		filter: alpha(opacity=100);
	}
	to {
		transform: scale(1.8);
		-ms-transform: scale(1.8);
		-webkit-transform: scale(1.8);
		opacity: 0;
		filter: alpha(opacity=0);
	}
}
@keyframes Grow {
	0% {
		transform: scale(0.1);
		-ms-transform: scale(0.1);
		-webkit-transform: scale(0.1);
		opacity: 0;
		filter: alpha(opacity=0);
	}
	50% {
		opacity: 1;
		filter: alpha(opacity=100);
	}
	to {
		transform: scale(1.8);
		-ms-transform: scale(1.8);
		-webkit-transform: scale(1.8);
		opacity: 0;
		filter: alpha(opacity=0);
	}
}

@keyframes Icon-running {
	0% {
		transform: rotate(0deg) scale(1) skew(1deg);
	}
	10% {
		transform: rotate(-25deg) scale(1) skew(1deg);
	}
	20% {
		transform: rotate(25deg) scale(1) skew(1deg);
	}
	30% {
		transform: rotate(-25deg) scale(1) skew(1deg);
	}
	40% {
		transform: rotate(25deg) scale(1) skew(1deg);
	}
	50% {
		transform: rotate(0deg) scale(1) skew(1deg);
	}
	100% {
		transform: rotate(0deg) scale(1) skew(1deg);
	}
}
@keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: translate(-50%, -50%) scale3d(0.3, 0.3, 0.3);
		-ms-transform: translate(-50%, -50%) scale3d(0.3, 0.3, 0.3);
		transform: translate(-50%, -50%) scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}
@keyframes pulse {
	0%,
	100% {
		-webkit-transform: scale(1);
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
	}
	50% {
		-webkit-transform: scale(0.9);
		transform: translate(-50%, -50%) scale(0.9);
		opacity: 0.7;
	}
}

/*==================== End Hotline, Zalo, Mail ====================*/
