.background-login {
	background-image: url("../images/background-signin-out.png");
	background-size: cover;
	background-position: 50%;
	min-height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-container {
	width: 600px;
	height: 500px;
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
	border-radius: 50px;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
	position: relative;
	overflow: hidden;

	.user {
		display: flex;
		align-items: center;
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
		transition: left 0.5s ease-in-out, opacity 1.5s ease-in-out;

		&.signin-box {
			left: 0;
			opacity: 1;
		}

		&.signup-box {
			left: 100%;
			opacity: 0;
		}

		.img-box {
			width: 50%;
			height: 100%;
			padding: 20px;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}

	&.active {
		.user.signin-box {
			left: -100%;
			opacity: 0;
		}

		.user.signup-box {
			left: 0%;
			opacity: 1;
		}
	}
}

.form-box {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;

	form {
		h2 {
			font-size: $fs-title;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 2px;
			text-align: center;
			width: 100%;
			margin-bottom: 12px;
			color: $cl-white-2;
		}

		input,
		button {
			position: relative;
			width: 100%;
			padding: 10px;
			background: #f5f5f5;
			color: $cl-black;
			border: none;
			outline: none;
			margin: 12px 0;
			font-size: $fs-detail;
			border-radius: 20px;
		}

		button {
			max-width: 120px;
			background: $cl-button;
			color: $cl-white-2;
			letter-spacing: 1.5px;
			text-transform: uppercase;
			font-weight: 700;
			transition: 0.5s;
			cursor: pointer;
			text-align: center;
			overflow: hidden;

			@include button_hover();
		}

		& > p {
			color: $cl-white-2;
			margin: 12px 0;

			a {
				color: $cl-orange-3;
				text-decoration: none;
				cursor: pointer;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		a {
			color: $cl-orange-3;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	.error {
		color: $cl-yellow-1;
	}
}
