/*==================== Color ====================*/
$cl-button: linear-gradient(to left, #17699a, #06527f);

$cl-blue-1: #89a9bc;
$cl-blue-2: #3e789b;
$cl-blue-3: #17699a;
$cl-blue-4: #06527f;
$cl-blue-5: #034166;

$cl-orange-1: #ffdeb6;
$cl-orange-2: #f3ae59;
$cl-orange-3: #f29018;
$cl-orange-4: #c76e00;
$cl-orange-5: #a05800;

$cl-grey: #dddddd;
$cl-grey-2: #777777;

$cl-white-1: #f3f4f8;
$cl-white-2: #fff;
$cl-white-3: #f9f9f9;

$cl-black: #333;

$cl-red: #f00;

/*==================== Font Size ====================*/
$fs-main-title: 32px;
$fs-title: 24px;
$fs-small-title: 22px;
$fs-sub-title: 18px;
$fs-text: 16px;
$fs-detail: 14px;
$fs-small-text: 12px;
$fs-big: 40px;
