@import "./font";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Nunito", sans-serif;
}
html {
	scroll-behavior: smooth;
}
@import "./variable";
@import "./mixin";
@import "./grid";
@import "./animation";
@import "./other-css";
@import "./home/header";

//Css Home
@import "./home/news";
@import "./home/news-detail";
@import "./home/page-home";
@import "./page-login";
@import "./home/page-finding";
// Admin
@import "./admin/master-layout";
@import "./admin/dashboard";
@import "./admin/news";

@import "./home/footer";
@import "./admin/master-layout";
@import "./home/responsive";
