/*==================== Menu PC ====================*/
header {
	position: sticky;
	top: 0;
	z-index: 99;
	background: $cl-white-2;
	box-shadow: 0 0 5px $cl-blue-5;
}
.logo {
	a {
		display: block;
		height: 50px;
		position: relative;

		&:hover img {
			left: calc(100% - 55px);
			transition: 1s ease-in-out;
		}
	}

	h1 {
		font-family: "Lobster", cursive;
		color: $cl-blue-3;
		font-size: $fs-main-title;
	}

	img {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 55px;
		transition: 0s ease-in-out;
	}
}
.menu-pc {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;

	.links {
		ul {
			display: flex;
			list-style: none;
			align-items: center;

			li {
				margin-left: 10px;

				.menu-link {
					color: $cl-blue-3;
					padding: 10px 15px;
					text-decoration: none;
					font-weight: 800;
					border-radius: 20px;
					transition: 0.2s ease-in-out;
					cursor: pointer;

					&:hover,
					&.active {
						background: $cl-blue-3;
						color: $cl-white-2;
					}
				}
				&.user {
					position: relative;
					color: $cl-blue-3;
					padding: 10px 15px;
					font-weight: 800;
					cursor: pointer;
					border: none;
					border-radius: 20px;

					span {
						display: flex;
						align-items: center;

						p {
							padding-left: 8px;
							max-width: 100px;
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;
						}
					}

					&.user:hover .menu-user {
						display: block;
					}

					.menu-user {
						position: absolute;
						top: 50px;
						right: -20px;
						width: 200px;
						flex-direction: column;
						background: $cl-white-3;
						box-shadow: 0 2px 5px $cl-grey;
						border-radius: 5px;
						padding: 12px 0;
						border: 1px solid $cl-white-1;
						animation: fadeIn 0.2s ease-in;
						display: none;
						&::before {
							position: absolute;
							content: "";
							top: -24px;
							right: 30px;
							border: 12px solid;
							border-color: transparent transparent $cl-white-3 transparent;
						}

						&::after {
							position: absolute;
							content: "";
							top: -37px;
							left: 0;
							width: 100%;
							height: 35px;
							background: transparent;
						}

						.menu-list {
							margin: 0 4px;
							a {
								color: $cl-blue-3;
								display: block;
								padding: 8px 12px;
								border-radius: 20px;
								transition: 0.2s ease-in-out;
								&:hover {
									background: $cl-blue-3;
									color: $cl-white-2;
								}
							}
						}
					}
				}
			}
		}
	}
}
/*==================== Menu Mobile ====================*/
.menu-mobile {
	display: none;
}
.icon {
	padding: 6px 10px;
	border: 1px solid $cl-blue-3;
	border-radius: 8px;
	transition: 0.3s ease-in-out;
	&:hover {
		background: $cl-blue-3;
	}
	.icon-menu {
		font-size: $fs-text;
		color: $cl-blue-3;
		&:hover {
			color: $cl-white-2;
		}
	}
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	background: $cl-black;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	overflow: hidden;
	display: none;
}
.list-mobile {
	height: 100vh;
	background: $cl-blue-5;
	position: fixed;
	right: 0;
	top: 0;
	width: 320px;
	color: $cl-grey;
	z-index: 99;
	display: none;
	.close {
		text-align: right;
		margin: 12px 24px;
		font-size: $fs-title;
		i {
			padding: 12px;
		}
	}
	.title {
		p {
			text-align: center;
			font-size: $fs-small-title;
			text-transform: uppercase;
			font-weight: 700;
			color: $cl-orange-3;
			text-shadow: 1px 1px 1px $cl-grey-2;
			margin: 12px 0;
			padding: 12px 0;
			position: relative;

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 30px;
				height: 2px;
				background: $cl-white-2;
			}
		}
	}
	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		li {
			margin: 12px 0;
			font-size: $fs-small-title;
			font-weight: 600;

			.menu-link {
				border-radius: 20px;
				display: block;
				color: $cl-grey;
			}
		}
		.user {
			span {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 12px;

				p {
					padding: 0 12px;
				}
				i:last-child {
					transition: 0.3s linear;
					margin-left: 6px;

					&.active {
						transform: rotate(-180deg);
					}
				}
			}
			.menu-user {
				height: 0;
				overflow: hidden;
				transition: 0.3s ease-in-out;

				&.active {
					display: flex !important;
					justify-content: flex-start;
					height: 170px;
				}

				a {
					color: $cl-grey;
				}
			}
		}
	}
}
