/*==================== Menu PC ====================*/
header {
	position: sticky;
	top: 0;
	z-index: 99;
	background: $cl-white-2;
	box-shadow: 0 0 5px $cl-blue-5;
}
.menu-pc {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;

	.logo {
		a {
			display: block;
			height: 50px;
			position: relative;

			&:hover img {
				left: calc(100% - 55px);
				transition: 1s ease-in-out;
			}
		}

		h1 {
			font-family: "Lobster", cursive;
			color: $cl-blue-3;
			font-size: $fs-main-title;
		}

		img {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 55px;
			transition: 0s ease-in-out;
		}
	}

	.links {
		ul {
			display: flex;
			list-style: none;
			align-items: center;

			li {
				margin-left: 10px;

				.menu-link {
					color: $cl-blue-3;
					padding: 10px 15px;
					text-decoration: none;
					font-weight: 800;
					border-radius: 20px;
					transition: 0.2s ease-in-out;
					cursor: pointer;

					&:hover,
					&.active {
						background: $cl-blue-3;
						color: $cl-white-2;
					}
				}
				&.user {
					position: relative;
					color: $cl-blue-3;
					padding: 10px 15px;
					font-weight: 800;
					cursor: pointer;
					border: none;
					border-radius: 20px;

					span {
						display: flex;
						align-items: center;

						p {
							padding-left: 8px;
							max-width: 100px;
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;
						}
					}

					&.user:hover .menu-user {
						display: block;
					}

					.menu-user {
						position: absolute;
						top: 60px;
						right: 0;
						width: 200px;
						flex-direction: column;
						background: $cl-white-3;
						box-shadow: 0 2px 5px $cl-grey;
						border-radius: 5px;
						padding: 12px 0;
						border: 1px solid $cl-white-1;
						animation: fadeIn 0.2s ease-in;
						display: none;

						&::before {
							position: absolute;
							content: "";
							top: -24px;
							right: 10%;
							transform: translateX(-50%);
							border: 12px solid;
							border-color: transparent transparent $cl-white-3 transparent;
						}
						&::after {
							position: absolute;
							content: "";
							top: -37px;
							left: 0;
							width: 100%;
							height: 35px;
							background: transparent;
						}

						.menu-list {
							margin: 0 4px;
							a {
								color: $cl-blue-3;
								display: block;
								padding: 8px 12px;
								border-radius: 20px;
								transition: 0.2s ease-in-out;
								&:hover {
									background: $cl-blue-3;
									color: $cl-white-2;
								}
							}
						}
					}
				}
			}
		}
	}
}
/*==================== Menu Mobile ====================*/
.menu-mobile {
	display: none;
}
