#news-detail {
	padding: 50px 0;

	.news-detail {
		border-right: 1px solid $cl-grey;
		.title {
			padding-bottom: 24px;
			font-size: $fs-main-title;
			color: $cl-blue-5;
			font-weight: 400;
			text-transform: capitalize;
		}
		.detail {
			padding: 24px 10px;
			text-align: justify;
		}
		.date {
			padding-top: 24px;
			color: $cl-grey;
			font-size: $fs-detail;
		}
	}

	.news-related {
		.related-title {

			padding-bottom: 24px;
			font-size: $fs-sub-title;
			color: $cl-blue-3;
			font-weight: 600;
			text-transform: uppercase;
		}
		.related-list {
			list-style: none;

			.related-item {
				padding: 8px 0;

				a {
					text-decoration: none;
					color: $cl-black;

					&:hover {
						color: $cl-blue-3;
					}
				}
			}
		}
	}
}
