#news-detail {
	padding: 50px 0;

	.news-detail {
		border-right: 1px solid $cl-grey;
		.title {
			padding-bottom: 24px;
			font-size: $fs-title;
			color: $cl-blue-5;
			font-weight: 400;
			text-transform: uppercase;
			font-weight: 700;
		}
		.img-box {
			width: 100%;
			height: 400px;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
		.detail {
			padding: 24px 10px;

			& * {
				max-width: 100%;
				line-height: 1.8;
				font-family: "Roboto", sans-serif !important;
			}
		}
		.date {
			text-align: right;
			i {
				margin-right: 6px;
			}
			padding-top: 24px;
			color: $cl-grey-2;
			font-size: $fs-detail;
		}
	}

	.news-related {
		.related-title {
			padding-bottom: 12px;
			font-size: $fs-sub-title;
			color: $cl-blue-3;
			font-weight: 600;
			text-transform: uppercase;
			margin-bottom: 12px;
			border-bottom: 2px solid $cl-blue-3;
			letter-spacing: 1px;
		}
		.related-list {
			list-style: none;

			.related-item {
				display: flex;
				align-items: center;
				padding: 8px 0;
				border-bottom: 1px solid $cl-white-1;

				&:last-child {
					border-bottom: 0;
				}

				.related-thumb {
					display: block;
					width: 30%;
					height: 80px;
					overflow: hidden;
					border-radius: 5px;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						transition: 0.5s ease-in-out;

						&:hover {
							transform: scale(1.05);
						}
					}
				}
				.related-content {
					width: 70%;
					display: block;
					text-decoration: none;
					padding: 0 12px;

					.related-heading {
						font-size: $fs-text;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						color: $cl-black;

						&:hover {
							color: $cl-blue-3;
						}
					}
					p {
						display: -webkit-box;
						-webkit-box-orient: vertical;
						overflow: hidden;
						-webkit-line-clamp: 2;
						font-size: $fs-detail;
						color: $cl-grey-2;
						margin: 6px 0;
					}
					.related-date {
						i {
							margin-right: 6px;
						}
						color: $cl-black-2;
					}
				}
			}
		}
	}
}
