@media (max-width: 1366px) {
	/*========== Home Page ==========*/

	/*========== End Home Page ==========*/
}

@media (max-width: 1023px) {
}

@media (max-width: 768px) {
	/*========== Header==========*/
	.menu-pc {
		display: none;
	}
	.menu-mobile {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 70px;
	}

	/*========== End Header ==========*/

	/*========== Home Page ==========*/
	#hero {
		&::before {
			background-image: unset;
		}
		.booking-form {
			h2 {
				color: $cl-white-2;
				border-bottom: 2px solid $cl-white-2;
				margin-right: 0;
			}
			form {
				.type,
				.class,
				.max-price,
				.way,
				.date,
				.passenger-name {
					label,
					p,
					i {
						color: $cl-white-2;

						input {
							width: 300px;
							padding: 8px 12px;
							&:checked + .radiobtn {
								box-shadow: 0 0 5px $cl-white-2;
								border-color: unset;
							}
						}
					}
				}
				.passenger-number {
					color: $cl-white-2;
					button {
						color: $cl-white-2;
						border: 1px solid $cl-white-2;
					}
				}
				.way {
					i {
						color: $cl-blue-3;
					}
					.way-popup .header button i {
						color: $cl-blue-3;
						display: block;
					}
					.tab-city .list-point li {
						color: $cl-blue-3;
					}
					.way-popup-mobile {
						position: absolute;
						list-style: none;
						background: #fff;
						top: 100%;
						right: -65px;
						left: unset;
						width: 700px;
						box-shadow: 2px 3px 5px #89a9bc;
						padding: 20px;
						height: auto;
						z-index: 1;
						font-size: 14px;
						border-radius: 8px;
					}
				}
				.class {
					label {
						padding-bottom: 0;
					}
				}
				button[type="submit"] {
					color: $cl-white-2;
					background: $cl-orange-3;
					box-shadow: 1px 1px 2px $cl-white-2;
				}
			}
		}
		.hero-content {
			display: none;
		}
	}

	#favorite {
	}
	/*========== End Home Page ==========*/

	/*========== Login Page ==========*/
	.login-container {
		margin: 30px;
	}
	/*========== End Login Page ==========*/

	/*========== Finding Page ==========*/
	.finding {
		.filter-step li .tilte-step {
			font-size: $fs-detail;
		}
		#filter-left {
			.finding-base {
				box-shadow: 0px 2px 5px #999;
				border-radius: unset;

				ul {
					display: none;
				}
			}
			.title {
				margin-top: 16px;
				border-radius: unset;

				.icon-down {
					display: block;
					transition: 0.3s linear;

					&.active {
						transform: rotate(-180deg);
						transition: 0.3s linear;
					}
				}
			}
		}
	}

	/*========== End Finding Page ==========*/

	/*========== Footer ==========*/
	.news-letter {
		.title h2 {
			text-align: center;
		}
	}
	/*========== End Footer ==========*/

	/*========== News ==========*/
	#news {
		.category {
			.category-title {
				font-size: $fs-sub-title;
			}
			.category-list {
				height: 400px;
				overflow-y: auto;
				margin-bottom: 12px;
			}
		}
		.news-item .news-wrap .img-wrap {
			height: 150px;
		}
	}
	#news-detail {
		.news-related {
			.related-list {
				.related-item {
					flex-direction: column;
					align-items: flex-start;
					.related-content {
						.related-date {
							font-size: $fs-small-text;
						}
					}
				}
			}
		}
	}

	/*========== End News ==========*/

	/*========== Info ==========*/
	.infouser .info-user {
		.info-edit {
			.col {
				&:last-of-type {
					border-top: 2px dashed $cl-grey-2;
					border-bottom: 2px dashed $cl-grey-2;
					padding-top: 12px;
					padding-bottom: 12px;
				}
			}
		}
	}

	.my-order .view-order {
		.order-head li {
			font-size: $fs-text;
		}
		.order-item {
			.order-body {
				li {
					font-size: $fs-detail;
				}
				.order-total {
					p {
						padding-left: 3px;
					}
				}
			}

			.order-detail {
				.heading {
					.heading-close {
						margin-right: 0;
					}
				}
				.order-passenger,
				.order-total {
					.passenger-detail,
					.total-detail {
						flex-direction: column;
						align-items: flex-start;

						div {
							line-height: 2.1;

							p:first-child {
								margin-right: 6px;
							}
							p:last-child {
								margin-left: 0px;
							}
						}
					}
				}
				.ticket-row {
					&::after {
						transform: rotate(90deg);
						top: 55%;
					}
				}
			}
		}
	}

	/*========== End Info ==========*/

	/*========== Page Finding==========*/
	.finding {
		.choose {
		}
	}

	/*========== End Page Finding ==========*/
}

@media (max-width: 480px) {
	/*========== Login Page ==========*/
	.login-container {
		margin: 15px;

		.user .img-box {
			display: none;
		}

		.form-box {
			width: 100%;
		}
	}
	/*========== End Login Page ==========*/
	/*========== Header ==========*/
	.menu-mobile {
		.logo {
			margin-left: 12px;
			h1 {
				font-size: $fs-title;
			}
		}
		.icon {
			margin-right: 12px;
		}
	}

	.list-mobile {
		width: 270px;

		.title p {
			font-size: $fs-sub-title;
		}
		ul li .menu-link {
			font-size: $fs-text;
		}

		ul li {
			font-size: $fs-text;
		}
	}
	/*========== End Header ==========*/
	#hero {
		padding: 25px 0;
		height: 100%;

		.booking-form {
			h2 {
				font-size: $fs-title;
			}
			form {
				.way {
					flex-direction: column;
					align-items: flex-start;
					label {
						margin: 6px 0;
						width: 100%;

						input {
							width: 100%;
						}

						.way-popup {
							width: 100%;
							padding: 12px;
							left: 0;

							.header i {
								display: unset;
							}

							.list-point li {
								width: 100%;
								line-height: 1.8;
							}
						}
					}
					i {
						display: none;
					}
				}
				.date {
					flex-wrap: nowrap;
					width: 100%;

					label {
						width: 45%;
						input {
							width: 100%;
						}
					}
					i {
						margin: 0 10px;
					}
				}
				.passenger {
					justify-content: space-between;
					div {
						margin-right: 0;
					}
					.passenger-name {
						flex-direction: column;
					}
				}
				.class {
					label {
						margin: 12px 10px 12px 0;
					}
				}
				.max-price {
					label {
						width: 100%;
						input {
							width: 100%;
						}
					}
				}
				button[type="submit"] {
					margin: 0;
					width: 100%;
					border-radius: 10px;
					padding: 16px 0;
					font-size: $fs-text;
				}
			}
		}
	}

	#why,
	#favorite,
	#partner {
		.heading {
			font-size: $fs-small-title;
		}
	}

	#favorite {
		.block {
			.image-box {
				height: 250px;

				h3 {
					top: 30%;
				}
			}
			.info {
				&::after {
					left: 3px;
					right: 3px;
					opacity: 0.6;
				}
			}
		}
	}
	#why {
		.row-item {
			.col {
				margin: 12px 0;
			}
		}
	}

	/*========== Footer ==========*/
	.news-letter {
		.col {
			margin: 6px 0;
		}
		.title {
			h2 {
				font-size: $fs-sub-title;
				i {
					font-size: $fs-sub-title;
				}
			}
		}
	}
	.main-footer {
		.footer-title {
			margin-bottom: 12px;
			font-size: $fs-sub-title;
		}
	}
	/*========== End Footer ==========*/

	/*========== Finding ==========*/
	.finding {
		.finding-col {
			padding: 0;
		}
		.choose {
			margin: 0;

			#filter-left,
			#filter-content {
				padding: 0;
			}
		}
		.confirm {
			margin: 0;

			& > .col {
				padding: 0;
			}
		}

		.filter-step {
			li {
				&.active {
					&::after {
						display: none;
					}
				}
				&::after {
					display: none;
				}
				&:nth-child(2)::before,
				&:last-child::before {
					display: none;
				}

				&:first-child {
					border-radius: 3px 0 0 3px;
				}
				&:last-child {
					border-radius: 0px 3px 3px 0;
				}
				&:nth-child(2) {
					border-radius: 0;
					border-left: 1px solid $cl-white-3;
					border-right: 1px solid $cl-white-3;
				}

				.number-step {
					width: 20px;
					height: 20px;
					border: 1px solid #fff;
					line-height: 1.4;
					font-size: $fs-small-text;
					margin: 0 6px 0 0;

					&:nth-of-type(2),
					&:nth-of-type(3) {
						margin: 0 3px 0 12px;
					}
				}
				.tilte-step {
					font-size: 11px;
					text-transform: none;
				}
			}
		}

		.flight-item {
			.flight-info {
				padding: 5px;

				.flight-img {
					order: 4;
					border: 0;
					background: $cl-orange-1;

					.box-img {
						width: 75px;
					}
				}
				// Chung
				.flight-from,
				.flight-to {
					order: 1;
					.flight-city {
						font-size: $fs-detail;
					}
					.flight-time {
						font-size: $fs-sub-title;
					}
				}

				.flight-wrap-detail {
					order: 2;
					margin: 0 20px;

					.flight-number-code {
						font-size: $fs-detail;
					}
					.flight-detail {
						&::before {
							right: 12px;
						}
					}
				}
				.flight-to {
					order: 3;
				}
				.flight-price-choose {
					flex-direction: row;
					order: 5;
					flex: 3;
					border: 0;
					background: $cl-orange-1;

					.flight-price {
						margin-right: 20px;
						span {
							font-size: $fs-sub-title !important;
						}
					}
					button {
						margin-top: 0;
						width: 75px;
						height: 47px;
						line-height: 32px;
						font-size: $fs-detail;
						overflow: hidden;
					}
				}
			}
			.flight-box-detail {
				padding: 5px;
				.flight-detail-item {
					margin: 0 0 10px 0;

					&:last-of-type {
						margin-bottom: 0;
					}

					.flight-detail-wrap {
						padding: 5px;

						& > div {
							line-height: 1.6;
						}
						.detail-img {
							order: 4;
							.box-img {
								width: 120px !important;
							}
						}
						.detail-from {
							position: relative;
							&::after {
								position: absolute;
								content: "\f061";
								top: 50%;
								right: -15px;
								transform: translateY(-50%);
								font-family: "Font Awesome 5 Free";
								font-weight: 700;
							}
						}

						.detail-to {
							span {
								justify-content: flex-end;
							}
						}

						.total-title {
							font-size: $fs-sub-title !important;
						}

						.detail-fare {
							li {
								font-size: $fs-small-text;
							}
						}
					}
				}
			}
		}

		// Step 2

		.finding-detail,
		.flight-selected__base {
			.header {
				font-size: $fs-detail;
			}
			.content {
				.detail-ticket {
					.date-time {
						i {
							display: none;
						}
					}
					.image {
						width: 85px;
					}
				}
			}
		}

		.flight-selected {
			.box-selected {
				.flight-item {
					padding: 0;

					.flight-info {
						border: 0;
						border-radius: 0 0 10px 10px;
					}
				}
			}
		}

		.info-customer {
			.box-info {
				.box-title {
					display: none;
				}
				.customer-people {
					.name,
					.date {
						flex: none;
						margin: 6px 0;
						padding: 0;
					}

					.bag {
						margin: 6px 0;
						.bag-img {
							height: unset;
						}
						.bag-select {
							margin: 0 0 0 12px;
						}
					}
				}
			}
		}
		.info-contact {
			.box-info {
				.box-customer,
				.box-note {
					width: 100%;
					padding: 10px;
				}
			}
		}

		// Step 3
		.finish-payment {
			margin: 0;
			& > .col {
				padding: 0;
			}

			.title {
				font-size: 13px;
			}

			.flight-detail {
				margin: 0;

				.title-flight {
					font-size: $fs-detail;
				}

				.flight-detail-wrap {
					padding: 5px;
					.detail-img {
						order: 4;
						.box-img {
							width: 120px;
						}
					}
					.detail-from,
					.detail-to,
					.detail-flight {
						span {
							font-size: $fs-small-text;
						}
					}
				}
			}

			.info {
				.info-detail {
					padding: 5px;
					font-size: $fs-detail;

					.info-table {
						padding: 5px;

						.info-heading,
						.info-body,
						.info-footer {
							padding: 5px;
						}

						.info-footer {
							p {
								font-size: $fs-text;
							}
						}
					}
				}
			}
			.contact {
				.contact-detail {
					padding: 5px;

					.col {
						div {
							font-size: $fs-detail;
						}
					}
				}
			}
		}
	}
	/*========== End Finding ==========*/

	/*========== News ==========*/
	.search-form input {
		width: 100%;
		padding: 12px;
	}
	#news {
		.news-header {
			.news-title h2 {
				margin-bottom: 0;
				font-size: $fs-title;
			}
			.news-icon {
				&::before,
				&::after {
					width: 20%;
				}
			}
		}
		.category {
			.category-list {
				height: 300px;
			}
		}

		.news-item {
			.news-wrap {
				.img-wrap {
					height: 220px;
				}
			}
			.heading-description .date-view {
				margin-bottom: 30px;
			}
		}
	}

	/*========== End News ==========*/

	/*========== Info ==========*/
	.infouser,
	.my-order {
		.title {
			font-size: $fs-detail;
		}
	}
	.infouser .info-user .info-edit .form-group {
		label {
			font-size: $fs-detail;
			i {
				margin-right: 6px;
			}
		}
		.input-edit {
			width: 55%;
			margin: 0;
		}
	}

	.my-order {
		.view-order {
			padding: 6px;

			.order-head,
			.order-body {
				padding: 6px;
				li {
					i {
						display: none;
					}
				}
			}
			.order-item {
				.order-body {
					li {
						font-size: $fs-small-text;
					}
				}
				.order-detail {
					.order-passenger,
					.order-contact,
					.order-payment,
					.order-departure,
					.order-destination,
					.order-total {
						padding: 12px;
						margin: 0;
						background: $cl-white-2;
						border-radius: 6px;
						height: 100%;
					}
					.col {
						&:first-child,
						&:last-child {
							padding: 0;
						}
					}
					.heading {
						font-size: $fs-small-text;
						text-transform: none;
					}
					.order-passenger,
					.order-total {
						.passenger-detail,
						.total-detail {
							flex-direction: column;
							align-items: flex-start;

							div {
								p:first-child {
									margin-right: 6px;
									width: unset;
								}
								p:last-child {
									margin-left: 6px;
								}
							}
						}
					}

					.row {
						margin: 0;
					}
				}
			}
		}
	}

	/*========== End Info ==========*/
}

@media (max-width: 420px) {
}

@media (max-width: 376px) {
	/*========== Finding ==========*/

	.finding {
		.flight-item {
			.flight-info {
				.flight-wrap-detail {
					margin: 0 !important;
				}
			}
		}
	}
	/*========== End Finding ==========*/
}

@media (max-width: 320px) {
	// Home
	#hero .booking-form {
		h2 {
			font-size: $fs-text;
		}
		form {
			.passenger-number {
				button {
					margin: 8px;
				}
			}
		}
	}

	#why .heading,
	#favorite .heading,
	#partner .heading {
		font-size: $fs-sub-title;
	}

	// Finding

	.finding {
		#filter-left {
			.title {
				font-size: $fs-detail;
			}
		}

		#filter-content {
			.filter-header {
				.title .title-flight h5 {
					font-size: $fs-text;
				}
				.icon {
					font-size: $fs-small-title;
				}
			}
		}

		.flight-item {
			.flight-info {
				// Chung
				.flight-from,
				.flight-to {
					.flight-city {
						font-size: $fs-small-text;
					}
					.flight-time {
						font-size: $fs-sub-title;
					}
				}

				.flight-price-choose {
					.flight-price {
						span {
							font-size: $fs-detail !important;
						}
					}
					button {
						width: 50px;
						height: 40px;
						line-height: 26px;
						font-size: 11px;
					}
				}

				.flight-wrap-detail {
					.flight-number-code {
						font-size: $fs-small-text;
					}
					.flight-detail {
						font-size: $fs-small-text;
					}
				}
			}

			.flight-box-detail {
				.flight-detail-item {
					.flight-detail-wrap {
						.detail-img {
							.box-img {
								width: 100px !important;
							}
						}

						.detail-from,
						.detail-to,
						.detail-flight {
							span {
								font-size: $fs-small-text;
							}
						}

						.detail-from {
							&::after {
								font-size: $fs-small-text;
							}
						}

						.detail-total {
							span {
								font-size: $fs-detail !important;
							}
						}
					}
				}
			}
		}

		.finding-detail {
			.header {
				font-size: $fs-detail;
			}
			.content {
				.detail-ticket {
					font-size: 13px;
					.image {
						width: 70px;
					}
				}
				.detail-summary {
					.summary {
						font-size: $fs-detail;
					}
					.summary-cart {
						font-size: $fs-detail;
					}
				}
				.total-price {
					font-size: $fs-text;
				}
			}
		}

		.finish-payment {
			.flight-detail {
				margin: 0;

				.title-flight {
					font-size: $fs-detail;
				}

				.flight-detail-wrap {
					padding: 5px;
					.detail-img {
						order: 4;
						.box-img {
							width: 120px;
						}
					}
					.detail-from,
					.detail-to,
					.detail-flight {
						span {
							font-size: $fs-small-text;
						}
					}
				}
			}

			.info {
				.info-detail {
					font-size: $fs-small-text;

					.info-table {
						.info-footer {
							p {
								font-size: $fs-detail;
							}
						}
					}
				}
			}
		}
	}
}
