@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  /*========== Login Page ==========*/
  .login-container {
    margin: 30px;
  }
  /*========== End Login Page ==========*/
}

@media (max-width: 480px) {
  /*========== Login Page ==========*/
  .login-container {
    margin: 15px;

    .user .img-box {
      display: none;
    }

    .form-box {
      width: 100%;
    }
  }
  /*========== End Login Page ==========*/
}

@media (max-width: 320px) {
}
