@media (max-width: 1366px) {
	/*========== Home Page ==========*/

	/*========== End Home Page ==========*/
}

@media (max-width: 1023px) {
}

@media (max-width: 768px) {
	/*========== Header==========*/
	.menu-pc {
		display: none;
	}
	.menu-mobile {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100px;
	}
	/*========== End Header ==========*/

	/*========== Home Page ==========*/
	#hero {
		&::before {
			background-image: unset;
		}
		.booking-form {
			h2 {
				color: $cl-white-2;
				border-bottom: 2px solid $cl-white-2;
				margin-right: 0;
			}
			form {
				.type,
				.class,
				.max-price,
				.way,
				.date,
				.passenger-name {
					label,
					p,
					i {
						color: $cl-white-2;

						input {
							width: 300px;
							padding: 8px 12px;
							&:checked + .radiobtn {
								box-shadow: 0 0 5px $cl-white-2;
								border-color: unset;
							}
						}
					}
				}
				.passenger-number {
					color: $cl-white-2;
					button {
						color: $cl-white-2;
						border: 1px solid $cl-white-2;
					}
				}
				.way {
					i {
						color: $cl-blue-3;
					}
					.way-popup .header button i {
						color: $cl-blue-3;
						display: block;
					}
					.tab-city .list-point li {
						color: $cl-blue-3;
					}
					.way-popup-mobile {
						position: absolute;
						list-style: none;
						background: #fff;
						top: 100%;
						right: -65px;
						left: unset;
						width: 700px;
						box-shadow: 2px 3px 5px #89a9bc;
						padding: 20px;
						height: auto;
						z-index: 1;
						font-size: 14px;
						border-radius: 8px;
					}
				}
				.class {
					label {
						padding-bottom: 0;
					}
				}
				button[type="submit"] {
					color: $cl-white-2;
					background: $cl-orange-3;
					box-shadow: 1px 2px 5px $cl-white-2;
				}
			}
		}
		.hero-content {
			display: none;
		}
	}

	#favorite {
	}
	/*========== End Home Page ==========*/

	/*========== Login Page ==========*/
	.login-container {
		margin: 30px;
	}
	/*========== End Login Page ==========*/

	/*========== Finding Page ==========*/
	.finding {
		.filter-step li .tilte-step {
			font-size: $fs-detail;
		}
		#filter-left {
			.finding-base {
				box-shadow: 0px 2px 5px #999;
				border-radius: unset;

				ul {
					display: none;
				}
			}
			.title {
				margin-top: 16px;
				border-radius: unset;

				.icon-down {
					display: block;
					transition: 0.3s linear;

					&.active {
						transform: rotate(-180deg);
						transition: 0.3s linear;
					}
				}
			}
		}
	}

	/*========== End Finding Page ==========*/

	/*========== Footer ==========*/
	.news-letter {
		.title h2 {
			text-align: center;
		}
	}
	/*========== End Footer ==========*/

	/*========== News ==========*/
	#news {
		.category {
			.category-title {
				font-size: $fs-sub-title;
			}
			.category-list {
				height: 400px;
				overflow-y: auto;
				margin-bottom: 12px;
			}
		}
		.news-item .news-wrap .img-wrap {
			height: 150px;
		}
	}

	/*========== End News ==========*/

	/*========== Info ==========*/
	.infouser .info-user {
		.info-edit {
			.col {
				&:last-of-type {
					border-top: 2px dashed $cl-grey-2;
					border-bottom: 2px dashed $cl-grey-2;
					padding-top: 12px;
					padding-bottom: 12px;
				}
			}
		}
	}

	.my-order .view-order {
		.order-head li {
			font-size: $fs-text;
		}
		.order-item {
			.order-body {
				li {
					font-size: $fs-detail;
				}
				.order-total {
					p {
						padding-left: 3px;
					}
				}
			}

			.order-detail {
				.order-passenger,
				.order-total {
					.passenger-detail,
					.total-detail {
						flex-direction: column;
						align-items: flex-start;

						div {
							line-height: 1.6;

							p:first-child {
								margin-right: 6px;
							}
							p:last-child {
								margin-left: 0px;
							}
						}
					}
				}
			}
		}
	}

	/*========== End Info ==========*/
}

@media (max-width: 480px) {
	/*========== Login Page ==========*/
	.login-container {
		margin: 15px;

		.user .img-box {
			display: none;
		}

		.form-box {
			width: 100%;
		}
	}
	/*========== End Login Page ==========*/
	/*========== Header ==========*/
	.menu-mobile {
		.logo {
			margin-left: 12px;
		}
		.icon {
			margin-right: 12px;
		}
	}
	.list-mobile {
		width: 270px;
		ul li {
			font-size: $fs-sub-title;
		}
	}
	/*========== End Header ==========*/
	#hero {
		padding: 25px 0;
		height: 100%;

		.booking-form {
			h2 {
				font-size: $fs-title;
			}
			form {
				.way {
					flex-direction: column;
					align-items: flex-start;
					label {
						margin: 6px 0;
						width: 100%;

						input {
							width: 100%;
						}

						.way-popup {
							width: 100%;
							padding: 12px;
							left: 0;

							.header i {
								display: unset;
							}

							.list-point li {
								width: 100%;
								line-height: 1.8;
							}
						}
					}
					i {
						display: none;
					}
				}
				.date {
					flex-wrap: nowrap;
					width: 100%;

					label {
						width: 45%;
						input {
							width: 100%;
						}
					}
					i {
						margin: 0 10px;
					}
				}
				.passenger {
					justify-content: space-between;
					div {
						margin-right: 0;
					}
					.passenger-name {
						flex-direction: column;
					}
				}
				.class {
					label {
						margin: 12px 10px 12px 0;
					}
				}
				.max-price {
					label {
						width: 100%;
						input {
							width: 100%;
						}
					}
				}
				button[type="submit"] {
					margin: 0;
					width: 100%;
					border-radius: 10px;
					padding: 16px 0;
					font-size: $fs-text;
				}
			}
		}
	}

	#why,
	#favorite,
	#partner {
		.heading {
			font-size: $fs-small-title;
		}
	}

	#favorite {
		.block {
			.image-box {
				height: 250px;

				h3 {
					top: 30%;
				}
			}
			.info {
				&::after {
					left: 3px;
					right: 3px;
					opacity: 0.6;
				}
			}
		}
	}
	#why {
		.row-item {
			.col {
				margin: 12px 0;
			}
		}
	}

	/*========== Footer ==========*/
	.news-letter {
		.col {
			margin: 6px 0;
		}
		.title {
			h2 {
				font-size: $fs-sub-title;
				i {
					font-size: $fs-sub-title;
				}
			}
		}
	}
	.main-footer {
		.footer-title {
			margin-bottom: 12px;
			font-size: $fs-sub-title;
		}
	}
	/*========== End Footer ==========*/

	/*========== Finding ==========*/
	.finding {
		.filter-step li {
			.number-step {
				width: 20px;
				height: 20px;
				border-radius: 50%;
				border: 1px solid #fff;
				line-height: 1.4;
				font-size: $fs-small-text;

				&:nth-of-type(2),
				&:nth-of-type(3) {
					margin: 0 3px 0 12px;
				}
			}
			.tilte-step {
				font-size: $fs-small-text;
				text-transform: none;
			}
		}
	}
	/*========== End Finding ==========*/

	/*========== News ==========*/
	.search-form input {
		width: 100%;
		padding: 12px;
	}
	#news {
		.news-header {
			.news-title h2 {
				margin-bottom: 0;
				font-size: $fs-title;
			}
			.news-icon {
				&::before,
				&::after {
					width: 20%;
				}
			}
		}
		.category {
			.category-list {
				height: 300px;
			}
		}

		.news-item {
			.news-wrap {
				.img-wrap {
					height: 220px;
				}
			}
			.heading-description .date-view {
				margin-bottom: 30px;
			}
		}
	}

	/*========== End News ==========*/

	/*========== Info ==========*/
	.infouser,
	.my-order {
		.title {
			font-size: $fs-detail;
		}
	}
	.infouser .info-user .info-edit .form-group {
		label {
			font-size: $fs-detail;
			i {
				margin-right: 6px;
			}
		}
		.input-edit {
			width: 55%;
			margin: 0;
		}
	}

	.my-order {
		.view-order {
			padding: 6px;

			.order-head,
			.order-body {
				padding: 6px;
				li {
					i {
						display: none;
					}
				}
			}
			.order-item {
				.order-body {
					li {
						font-size: $fs-small-text;
					}
				}
				.order-detail {
					.order-passenger,
					.order-contact,
					.order-payment,
					.order-departure,
					.order-destination,
					.order-total {
						padding: 12px;
						margin: 0;
						background: $cl-white-2;
						border-radius: 6px;
						height: 100%;
					}
					.col {
						&:first-child,
						&:last-child {
							padding: 0;
						}
					}
					.heading {
						font-size: $fs-small-text;
						text-transform: none;
					}
					.order-passenger,
					.order-total {
						.passenger-detail,
						.total-detail {
							flex-direction: column;
							align-items: flex-start;

							div {
								p:first-child {
									margin-right: 6px;
									width: unset;
								}
								p:last-child {
									margin-left: 6px;
								}
							}
						}
					}

					.row {
						margin: 0;
					}
				}
			}
		}
	}

	/*========== End Info ==========*/
}

@media (max-width: 320px) {
}
